<!DOCTYPE html>
<html>
<head>
    <title>JS</title>
    <link href="/assets/bootstrap.css?<%= Time.now.to_i %>" rel="stylesheet" type="text/css">
    <script src="/assets/src/bootstrap.js?<%= Time.now.to_i %>"></script>
    <script src="/assets/app/bootstrap.js?<%= Time.now.to_i %>"></script>
</head>
<body>

</body>
</html>