<!DOCTYPE HTML>
<html>
<head>
  <title>J5 Documentation</title>
  <title>JS</title>
  <script src="/assets/javascripts/bootstrap.js?<%= Time.now.to_i %>"></script>
  <link href="/assets/resources/stylesheets/bootstrap.css?<%= Time.now.to_i %>" rel="stylesheet" type="text/css">

  <link href="/assets/application.css?<%= Time.now.to_i %>" rel="stylesheet" type="text/css">
  <script src="/assets/app/bootstrap.js?<%= Time.now.to_i %>"></script>
</head>
<body>
    <div id="left-panel">
      <img id="logo" src="http://yuilibrary.com/img/yui-logo.png">
      <div id="search"></div>
      <div id="class-tree"></div>
    </div>
    <div id="right-panel">
      <div id="class-toolbar"></div>
      <div id="view-wrap">
        <div id="view"></div>
      </div>
    </div>
</body>
</html>