<!DOCTYPE html>
<html>
<head>
    <title>JS</title>
    <script src="/assets/javascripts/bootstrap.js?<%= Time.now.to_i %>"></script>
  <link href="/assets/resources/stylesheets/bootstrap.css?<%= Time.now.to_i %>" rel="stylesheet" type="text/css">

    <link href="/assets/application.css?<%= Time.now.to_i %>" rel="stylesheet" type="text/css">
    <script src="/assets/app/bootstrap.js?<%= Time.now.to_i %>"></script>
</head>
<body>

</body>
</html>