.x-mask {
  position: absolute;
  display: table;
  vertical-align: middle;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  .x-mask-message-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    .x-mask-message {
      margin: 0 10px;
      padding: 5px 10px;
      background: white;
      color: #0088CC;
    }
  }
}