.x-menu {
  background: white;
  border: 1px #ccc rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 4px 0;
  list-style: none;
  z-index: 1;
  
  > .x-menu-item {
    > .x-menu {
      top: 0;
      left: 100%;
    }
  }
}